.home {
  text-align: center;
  margin-top: 50px;
}

.home h1 {
  color: #2e7d32; /* nice green */
}

.home p {
  font-size: 18px;
  color: #555;
}
.home a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #2e7d32;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.home a:hover {
  background-color: #27632a;
}
